<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link href="/css/404.css" rel="stylesheet" />
	</head>

	<body>
		<div class="content">
			<div class="left">
				<img src="/images/404.jpg" width="500px" height="500px" /><br /><br />	
			</div>
			<div class="right">
				<a href="/" class="btn">到主页看看</a>
			</div>
		</div>

	</body>

</html>